h1 {
  text-align: center;
}

.jumbotron {
  color: white;
  text-shadow: 2px 2px #eea236;
  margin-bottom: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
  url(../img/pingpong.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

pre {
  border: none;
  line-height: 2rem;
}

.col-xs-3 {
  padding-left: 3rem;
  background-color: #920000;
  color: white;
  height: 100vh;
}

.col-xs-3 h4 {
  margin-top: 20px;
}

.col-xs-3 h5 {
  margin-top: 3rem;
}

.col-xs-9, pre {
  background-color: white;
}

.col-xs-9 {
  height: 100vh;
  padding-left: 5rem;
}
