body {
  font-family: 'Itim', cursive;
}

p, li, label, .btn {
  font-size: 1.7rem;
}

h1 {
  text-align: center;
  font-family: 'Knewave', cursive;
}

h1, .col-sm-9 h3 {
  font-family: 'Knewave', cursive;
  text-align: center;
}

.jumbotron h1 {
  font-size: 60px;
  padding-top: 100px;
}
.jumbotron {
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: white;
  text-shadow: 3px 3px #920000;
  margin-bottom: 0;
  background: linear-gradient(
    rgba(52, 79, 100, 0.5),
    rgba(52, 79, 100, 0.5)
    ),
  url(../img/pingpong.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
}

pre {
  border: none;
  line-height: 2rem;
}

.col-sm-9 {
  margin-top: 4rem;
}

.col-sm-9 h3 {
  font-size: 32px;
}

.col-sm-9, pre {
  background-color: white;
}

.col-sm-9,  .col-sm-3 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.col-sm-3 {
  padding-left: 3rem;
  background-color: #920000;
  color: white;
}

.col-sm-3 a {
  color: lightblue;
}

.col-sm-3 a:hover {
  color: #f0ad4e;
}

.col-sm-3 h4 {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.col-sm-3 p {
  padding-bottom: 3rem;
}




@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 80px;
    text-shadow: 4px 4px #920000;
    padding-top: 0;
  }

  .jumbotron {
    background-position: 30% 0%;
    padding-bottom: 10rem;
  }

  .col-sm-9, .col-sm-3 {
    height: 100vh;
    padding-top: 3rem;
  }

  .col-sm-9 {
    font-size: 1.75rem;
    line-height: 3rem;
  }

  .col-sm-9 h3 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .col-sm-9 form {
    margin-top: 10rem;
  }


}
